body {
    font-family: 'Orbitron', sans-serif;
    background: url('./bg\ dnd.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.7);
}

h1 {
    color: #ffcc00;
    text-shadow: 3px 3px 10px rgba(255, 215, 0, 0.8);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #ff5733;
    border-bottom: 2px solid #ff5733;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff5733;
}

/* Styles spécifiques aux documents PDF */
ul li a[href$=".pdf"] {
    padding-left: 25px;
    background: url('https://cdn-icons-png.flaticon.com/512/337/337946.png') no-repeat left center;
    background-size: 20px;
}
