body {
  background: url(./bg.jpg) center/cover;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  background: rgba(0, 0, 0, 0.553);
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 3px 3px 8px #00000042;
  color: #0e4bf4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flexbox {
  width: 90%;
  margin: 20px auto;
  transition: transform 0.2s ease-in-out;
}

.flexbox:hover {
  transform: scale(1.02);
}

.flexbox > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.flexbox li {
  list-style: none;
  box-sizing: border-box;
}

.flexbox img {
  border-radius: 10px;
  object-fit: cover;
}

.flexbox .text {
  font-weight: bold;
  color: black;
}

.flexbox .arrow {
  color: black;
}

a {
  text-decoration: none;
  color: black;
  text-align: left;
  white-space: nowrap;
}

li a:hover {
  color: rgb(0, 140, 255);
}

@media (max-width: 768px) {
  .flexbox {
      flex-direction: column;
      align-items: center;
  }

  .flexbox li {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .flexbox img {
      width: 100px;
      height: 100px;
  }

  .flexbox .text {
      font-size: 1rem;
      margin: 10px 0;
  }

  .flexbox .arrow {
      margin-left: 0;
      margin-top: 10px;
  }
}

.white-rectangle {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.white-rectangle li {
  display: flex;
  align-items: center;
}

.white-rectangle img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.white-rectangle .text {
  flex-grow: 1;
  font-size: 1.2rem;
}

.white-rectangle .arrow {
  font-size: 1.5rem;
}